@import '@sass/abstracts/mixins-verndale';

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: auto !important;
  margin-bottom: 0px;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: auto !important;

  &.on-page-editor {
    background: #CCC !important;
  }
}

@include media-breakpoint-up(max) {
  .container {
    .row {
      max-inline-size: 1685px;
      margin-inline: auto;
    }
  }
}

.xa-variable {
  background-color: #ebebe4;
  border: 0px;
  color: #545454;
  margin: 0px;
  padding: 1px;
  pointer-events: none;
  user-select: none;
}

.sc-jss-placeholder-error {
  background: #ff0000;
  color:#fff;
  max-width: 500px;
  outline: 5px solid #e36565;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
